############################################################
# Terraform
############################################################

.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

############################################################
# Python
############################################################

__pycache__/
*.pyc
venv/
.venv/

############################################################
# Logs
############################################################

*.log